name: fastapi-ecommerce-prod
services:
  web:
    # Берем Dockerfile из каталога app
    build:
      context: .
      dockerfile: app/Dockerfile.prod.yml
    # Запускаем сервер Gunicorn
    command: gunicorn app.main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
#    # Открываем порт 8000 внутри и снаружи
#    ports:
#      - '8000:8000'
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=ecommerce_user
      - POSTGRES_PASSWORD=xxxxxxxx
      - POSTGRES_DB=ecommerce_db

  nginx:
    build: nginx
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - '80:80'
    depends_on:
      - web
  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot --webroot-path=/var/www/certbot/ --email ваш@email --agree-tos --no-eff-email -d имя_вашего_домена
    depends_on:
      - nginx

volumes:
  postgres_data:

