name: fastapi-ecommerce-prod
services:
  web:
    # Берем Dockerfile из каталога app
    build:
      context: .
      dockerfile: app/Dockerfile.prod.yml
    # Запускаем сервер Gunicorn
    command: gunicorn app.main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
#    # Открываем порт 8000 внутри и снаружи
#    ports:
#      - '8000:8000'
    environment:
      - REDIS_HOST=${REDIS_HOST:-redis}
      - POSTGRES_HOST=${POSTGRES_HOST:-db}
      - POSTGRES_USER=${POSTGRES_USER:-ecommerce_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-xxxxxxxx}
      - POSTGRES_DB=${POSTGRES_DB:-ecommerce_db}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_FROM=${MAIL_FROM}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_SERVER=${MAIL_SERVER}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - DOMAIN=${DOMAIN}
    depends_on:
      - db
      - redis

  redis:
    image: redis:7-alpine
    expose:
      - "6379"
    volumes:
      - redis_data:/data

  celery_worker:
    build:
      context: .
      dockerfile: app/Dockerfile.prod.yml
    command: celery -A app.core.celery_app worker --loglevel=info
    environment:
      - REDIS_HOST=${REDIS_HOST:-redis}
      - POSTGRES_HOST=${POSTGRES_HOST:-db}
      - POSTGRES_USER=${POSTGRES_USER:-ecommerce_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-xxxxxxxx}
      - POSTGRES_DB=${POSTGRES_DB:-ecommerce_db}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_FROM=${MAIL_FROM}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_SERVER=${MAIL_SERVER}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - DOMAIN=${DOMAIN}
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-ecommerce_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-xxxxxxxx}
      - POSTGRES_DB=${POSTGRES_DB:-ecommerce_db}

  nginx:
    build: nginx
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot:ro
    depends_on:
      - web

  certbot:
    image: certbot/certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  postgres_data:
  redis_data:

