services:
  web:
    restart: always
    # Берем Dockerfile из каталога app
    build:
      context: .
      dockerfile: ./app/Dockerfile
    # Запускаем миграции, инициализацию БД и сервер
    command: sh -c "alembic upgrade head && python -m app.init_db && uvicorn app.main:app --host 0.0.0.0"
    # Открываем порт 8000 внутри и снаружи
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - REDIS_HOST=${REDIS_HOST:-redis}
      - POSTGRES_HOST=${POSTGRES_HOST:-db}
      - POSTGRES_USER=${POSTGRES_USER:-ecommerce_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-xxxxxxxx}
      - POSTGRES_DB=${POSTGRES_DB:-ecommerce_db}
    depends_on:
      - db
      - redis

  redis:
    restart: always
    image: redis:7-alpine
    ports:
      - "6379:6379"

  celery_worker:
    restart: always
    build:
      context: .
      dockerfile: ./app/Dockerfile
    command: celery -A app.core.celery_app worker --loglevel=info
    env_file:
      - .env
    environment:
      - REDIS_HOST=${REDIS_HOST:-redis}
      - POSTGRES_HOST=${POSTGRES_HOST:-db}
      - POSTGRES_USER=${POSTGRES_USER:-ecommerce_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-xxxxxxxx}
      - POSTGRES_DB=${POSTGRES_DB:-ecommerce_db}
    depends_on:
      - db
      - redis

  db:
    restart: always
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-ecommerce_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-xxxxxxxx}
      - POSTGRES_DB=${POSTGRES_DB:-ecommerce_db}

volumes:
  postgres_data: